.container {
  margin: auto;
  max-width: 1200px;
  font-family: sans-serif;
}
.navigation {
	max-width: 1200px;
	box-shadow: 0px 0px 5px 0px #88888800;
}
.heading {
  color: rebeccapurple;
}
.nav-links {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.nav-link-item {
  padding-right: 2rem;
}
.nav-link-text {
  color: black;
  decoration: none;
}
.nav-link-text:active{
	decoration: underline;
}
.nav-link-text:hover{
	color: red;
}